@import "../general/all";

.home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  padding-top: 50px;
  margin: 0 auto;
  max-width: $site-width;
}

.card {
  position: relative;
  background-color: rosybrown;
  border: 1px solid $dark-green;

  &__img {
    width: 100%;
  }

  &__caption {
    border-top: 1px solid $dark-green;
    width: 100%;
    color: darken($dark-blue, 10);
    background-color: $blue;
    opacity: 0.9;
    position: absolute;
    z-index: 99;
    bottom: 0;
    padding: 1rem 0;
    text-align: center;
    &--icon {
      margin-left: 1rem;
    }
  }
}
