@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$primary-color: #3ccae2;
$secondary-color: #7f16f1;

$blue: #83d2e4;
$dark-blue: #477385;
$green: #8bcf21;
$dark-green: #2F9331;
$brown: #c19978;
$dark-brown: #926f44;
$light-color: #e7e0db;
$dark-color: #3d373c;


$site-width: 1024px;

$font-xsmall: 1.2rem;
$font-small: 1.6rem;
$font-medium: 2rem;
$font-large: 2.4rem;
$font-xlarge: 2.8rem;


$font: "Poppins",
sans-serif;